@container-width: 1000px;

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

div.container {
    max-width: none !important;
    min-width: @container-width;
    width: @container-width;
}

